/* Seccion Especimenes */
/* carrousel*/
/* imágenes del carrusel */
.carousel-inner .card .card-img-top {
    width: 100%;
    height: 200px;
    height: auto;
    object-fit: cover;
}

/*Tarjetas */
.card {
    height: 100% !important;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;


}


.cuerpoTarjeta {
    height: 100%;
    text-align: justify;
    flex-grow: 1;
}

.textoTarjeta {
    padding-left: 10px;
    padding-right: 10px;
}


.card .card-img-top {
    flex: 1;
    object-fit: fill;
    width: auto;
    height: 150px;
}

encabezado {
    font-weight: bold;
    color: $color-azul-oscuro;
    font-style: italic;
    text-align: center;
}

h4 {
    @extend encabezado;

}

// Normativa
.pieEnlace {
    text-align: center;
    padding-left: 20px;
    margin-top: 10px;
    color: $color-azul-oscuro;
    @include gradient-background($color-celeste, $color-celeste-claro);
    font-size: 20px;
}