// FOOTER
// Pie de Página
footer {
    display: flex;
    font-size: 16px;
    text-align: left;
    font-style: italic;
    color: black;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;

    // botón de whatsapp
    .guasap {
        border-radius: 10px;
        background-color: $color-violeta;
        color: #fafafa;
        font-weight: bold;
    }
}