// sección Galería
h2 {
    font-weight: 400;
}

p {
    font-weight: auto;
    color: $color-azul-oscuro;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.tarjeta {
    @include gradient-background($color-tarjeta-turquesa, $color-celeste-claro);
    color: $color-negro-mateado;
    border: 1px solid $color-negro-mateado;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 10px 10px 5px $color-azul-oscuro;
    width: calc(25% - 20px);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.textoTarjeta {
    font-size: 15px;
    flex-grow: 1;
}

.imagenTarjeta {
    height: 30%;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;

    .imagenn {
        width: 100%;
        height: auto;
    }
}

.botonTarjeta {

    text-align: center;
    padding: 10px;

}

.precio {
    font-size: 30px;
    color: $color-azul-oscuro;
    font-weight: bold;

}

.btn-precio {
    background: $color-azul;
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
    border-radius: 3px;
    margin-bottom: 10px;
}

.btn-precio:hover {
    background: $color-celeste-claro;
    color: black;
}

@media (max-width: 1070px) {
    .tarjeta {
        width: 45%;
        margin-bottom: 20px;
    }
}

@media (max-width: 600px) {
    .tarjeta {
        width: 100%;
        margin-bottom: 20px;
    }
}