body {
    background: linear-gradient(to left, $color-azul-oscuro, $color-celeste, $color-celeste, $color-celeste);
    font-family: $fuente-principal;
    font-weight: lighter;



    h1 {
        text-align: center;
        color: #fafafa;
        background-color: $color-azul;
        border-style: ridge;
        border-radius: 14px;
        border-color: $color-celeste;
        font-size: 30px;
    }
}





.zeus {
    @include gradient-background($color-celeste, $color-celeste-claro);
    padding: 20px;
    font-size: 18px;
    text-align: justify;
    color: $color-azul-oscuro;
    font-style: italic;


    @media (max-width: 768px) {
        padding: 10%;
        font-size: 18px;
    }
}

.shoQueSe {
    color: bisque;
    text-align: justify;

}

.apoloChan {
    width: 50%;
    margin-left: 25%;
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;

    @media (max-width: 768px) {
        width: $imagen-tamano-movil;
        margin-left: calc((100% - #{$imagen-tamano-movil}) / 2);
    }
}

@keyframes foto {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.anime {
    animation-name: foto;
    animation-duration: 5s;
    animation-iteration-count: 2;
}

.apoloKun {
    width: 20%;
    margin-left: 40%;
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;

    @media (max-width: 768px){
        width: $imagen-tamano-movil;
        margin-left: calc((100% - #{$imagen-tamano-movil}) / 2);}
}

.neuquen{
    width: 50%; 
    margin-left: 25%; 
    padding: 1% 0; 
    text-align: center;

    @media (max-width: 768px) {
        width: $imagen-tamano-movil;
        margin-left: calc((100% - #{$imagen-tamano-movil}) / 2);
    }
}

