$color-azul-oscuro: #0B2447;
$color-azul: #19376D;
$color-celeste: #576CBC;
$color-celeste-claro: #A5D7E8;
$color-violeta: #371B58;
$color-negro-mateado: #333;
$color-tarjeta-turquesa: #4477CE;
$fuente-principal: Georgia, 'Times New Roman', Times, serif;