@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Roboto:wght@100&display=swap');

body {
    background: linear-gradient(to left, #0B2447, #576CBC, #576CBC, #576CBC);
    // background-color: #0B2447;
    font-family: '#Lato', 'sans-serif';
    font-weight: bold;


    h1 {
        text-align: center;
        color: #fafafa;
        background-color: #19376D;
        border-style: ridge;
        border-radius: 14px;
        border-color: #576CBC;
        font-size: 30px;
    }
}

.frodo {
    width: 5rem;
}

.navbar a {
    text-decoration: none;
    color: #fafafa;
    font-size: 1rem;
    padding-left: 2rem;
    text-transform: capitalize;
    font-weight: bold;

}

/* mixin */
@mixin gradient-background($color1, $color2) {
    background: linear-gradient(to left, $color1, $color2);
    border-style: ridge;
    border-radius: 14px;
    border-color: $color2;
}

.zeus {
    @include gradient-background(#576CBC, #A5D7E8);
    padding: 50px;
    margin: 50px;
    font-size: 20px;
    text-align: justify;
    color: #0B2447;
    font-style: italic;

}

.shoQueSe {
    color: bisque;
    text-align: justify;

}

.apoloChan {
    width: 50%;
    margin-left: 25%;
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
}

@keyframes foto {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.anime {
    animation-name: foto;
    animation-duration: 5s;
    animation-iteration-count: 2;
}

.apoloKun {
    width: 20%;
    margin-left: 40%;
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
}


footer {
    display: flex;
    font-size: 16px;
    text-align: left;
    font-style: italic;
    color: black;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;


    .guasap {
        border-radius: 10px;
        background-color: #371B58;
        color: #fafafa;
        font-weight: bold;
    }
}


/* Sección Contacto */
fieldset {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    color: #fafafa;
  }
// EXTEND
encabezado {
    font-weight: bold;
    color: #0B2447;
    font-style: italic;
    text-align: center;
}

h3, legend {
    @extend encabezado;
}


.label-comun {
    margin-top: 10px;
    display: block;
}

.label-contacto {
    @extend .label-comun;
}

input ,
textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  color: #fafafa;
}

.map-container iframe{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    overflow: hidden; 
    width: 100%;
    height: 100%;
}
  

.boton {
  margin-top: 10px;
  background-color: #0B2447;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.boton:hover {
  background-color: #A5D7E8;
}


iframe {
        max-width: 100%;
        height: 380px;
      }


/* Seccion Especimenes */



.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.lola {
    margin: 0 auto;
    width: 90%;
    border-radius: 20px;
    background-color: #A5D7E8;
    border: solid black 1px;
    margin: 10px;
    padding: 10px;
    box-shadow: 10px 10px #0B2447;
}

.card-img{
    width: 100%;
    // padding: 10%;
    height: auto;

}

@media (max-width: 768px) {
    .cards {
      grid-template-columns: repeat(2, 1fr);
    }
  
    .lola {
      width: 100%;
      margin: 10px 0;
    }
  }

h4 {
    @extend encabezado;
    
}

.pieEnlace {
    text-align: center;
    padding-left: 20px;
    margin-top: 10px;
    color: #0B2447;
    @include gradient-background(#576CBC, #A5D7E8);
    font-size: 20px;
}

// sección quienes somos

.imagenes {
    font-style: italic;
    text-align: center;
    font-weight: bold;
}

.peces {
    width: 70%;
    height: 90%;
    border: 2px solid black;
    border-radius: 20px;
}

// sección Galería
h2{
    font-weight: 400;
}
p{
    font-weight: 300;
    color: #0B2447;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.tarjeta{
    @include gradient-background(#4477CE, #A5D7E8);
    color: #333;
    border: 1px solid #333;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 10px 10px 5px #0B2447;
    width: calc(25% - 20px);
    box-sizing: border-box;

    .imagenn{
        object-fit:cover;
        width: 100%;
        height: 30%;
        border: solid #0B2447 1.5px;
}
    

.precio {
    font-size: 30px;
    color: #0B2447;
    font-weight: bold;

}
.btn-precio {
    background: #19376D;
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
    border-radius: 3px;
    margin-bottom: 10px;
}
.btn-precio:hover {
    background: #A5D7E8;
    color: black;
}
@media (max-width: 1070px) {
    .tarjeta {
        width: 45%;
        margin-bottom: 20px;
    }
}
@media (max-width: 600px) {
    .tarjeta {
        width: 100%;
        margin-bottom: 20px;
    }
}
}
